# Python
venv/
__pycache__/
*.pyc

# Environment
.env

# OS
.DS_Store

# Editor
.vscode/

# Models (later)
models/

/home/durga-prasad/robo_car/venv



robocarNotes

/home/durga-prasad/robo_car/yolov8n.pt

*.pt
*.onnx
*.engine